@import "variable";
@import "mixin";
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    header {
        .petite-entete {
            display: flex;
            margin-bottom: 10px;
            align-items: center;
        }
        a {
            margin-left: 30px;
            .fa-arrow-left {
                font-size: 25px;
                color: #000;
            }
        }
        .logo {
            width: 30%;
            margin: auto;
            text-align: center;
            margin-top: 10px;
            img {
                height: 30px;
            }
        }
        .img {
            width: 100%;
            margin: auto;
            border: 1px solid #000;
            img {
                height: 25em;
                width: 100%;
            }
        }
    }
    section {
        border: none;
        background: #f2f2f2;
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        position: relative;
        bottom: 45px;
        box-shadow: 1px 1px 1px 2px #f2f2f2;
        padding-bottom: 20px;
        .btn {
            width: 150px;
            height: 50px;
            align-self: center;
            border-radius: 25px;
            background: $secondary-Color;
            border: none;
            color: white;
            font-weight: bolder;
            margin-top: 20px;
        }
        .bloc__section {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            grid-column-gap: 10px;
            padding-left: 10px;
            padding-right: 10px;
            .entree {
                .titre {
                    border-bottom: 3px solid #000;
                    width: 30px;
                    padding-bottom: 5px;
                    border-color: $color-vert;
                }
                .entree--blocEntree {
                    background: white;
                    border-radius: 20px;
                    box-shadow: 1px 1px 2px 1px #f6f6f6;
                    display: flex;
                    margin-bottom: 15px;
                    justify-content: space-between;
                    padding-left: 10px;
                    position: relative;
                    .euro {
                        padding-top: 15px;
                    }
                }
            }
        }
    }
    footer {
        background: rgb(51, 50, 50);
        display: flex;
        flex-direction: column;
        color: white;
        width: 100%;
        padding-left: 30px;
        .footer {
            display: grid;
            grid-column-gap: 30px;
            grid-template-columns: 25% 25% 35%;
            .footer--box {
                display: flex;
                align-items: center;
            }
            .footer--box_ {
                display: grid;
                grid-column-gap: 50px;
                grid-template-columns: 40% 40%;
            }
            .fa-footer {
                margin-right: 10px;
            }
        }
    }
}