body {
  margin: 0; }

* {
  box-sizing: border-box; }

.entete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f7f7f7;
  box-shadow: 1px 1px 2px 1px rgba(230, 225, 225, 0.824);
  border: none; }
  .entete .entete__img {
    width: 100%;
    text-align: center; }
  .entete .entete--couleur {
    background: #dedede;
    font-weight: bolder;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row; }
  .entete .entete__marge {
    margin-left: 10px; }
  .entete .titre {
    font-size: 50px; }
  .entete .entete--para {
    font-size: 40px;
    font-weight: 100; }
  .entete .entete--violet {
    border: 1px solid #000;
    background: #9356DC;
    height: 55px;
    width: 300px;
    text-align: center;
    padding-top: 15px;
    border-radius: 45px;
    color: white;
    font-weight: bolder;
    font-size: 20px; }

.navigation {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  align-items: center;
  position: relative; }
  .navigation .navigation--choix {
    margin-bottom: 20px;
    width: 50%;
    height: 100px;
    background: #fdfcfc;
    box-shadow: 1px 1px 1px 2px #eceaea;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: none; }
    .navigation .navigation--choix .fa-1,
    .navigation .navigation--choix .fa-2,
    .navigation .navigation--choix .fa-3 {
      border: none;
      font-size: 25px;
      color: white;
      background: #9356DC;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      text-align: center;
      padding-top: 10px;
      position: relative;
      left: -25px; }
    .navigation .navigation--choix .fas-size {
      font-size: 30px;
      color: #949191; }
  .navigation .navigation__modifier {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 30px; }
  .navigation h1 {
    align-self: flex-start;
    margin-top: 40px; }

section {
  background: #f7f7f7;
  margin-top: 40px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px 2px #f5f5f5; }
  section h2 {
    margin-left: 20px; }
  section .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px; }
    section .section .section__boite {
      width: 30%;
      margin-bottom: 60px;
      background: white;
      border-radius: 20px;
      margin-left: 60px;
      position: relative; }
      section .section .section__boite .img {
        margin: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%; }
        section .section .section__boite .img img {
          width: 100%;
          height: 250px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px; }
      section .section .section__boite .section--disposition {
        border: none;
        display: flex;
        justify-content: space-between;
        margin-top: 0px; }
      section .section .section__boite .section--position {
        border: none;
        margin-top: 0px;
        position: absolute;
        top: 20px;
        right: 15px;
        width: 120px;
        text-align: center;
        background: #99E2D0;
        height: 3rem;
        padding-top: 10px;
        font-size: 20px;
        color: #565454; }
      section .section .section__boite .fa-heart {
        align-self: center;
        font-size: 35px; }

footer {
  background: #333232;
  display: flex;
  justify-content: space-around;
  color: white;
  width: 100%; }
  footer .footer--box {
    display: flex;
    align-items: center; }
    footer .footer--box .fa-footer {
      padding-right: 10px; }

/*# sourceMappingURL=style.css.map */
